<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075312812986-fn5aum4v7err2pf0mshech7o885m2ijn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075312812986-fn5aum4v7err2pf0mshech7o885m2ijn</string>
	<key>API_KEY</key>
	<string>AIzaSyApZezMegkT4yF-XqlYMyaqLwdahlSxLwM</string>
	<key>GCM_SENDER_ID</key>
	<string>1075312812986</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daniel10027.riderappIos</string>
	<key>PROJECT_ID</key>
	<string>rider-57a9b</string>
	<key>STORAGE_BUCKET</key>
	<string>rider-57a9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075312812986:ios:11768d701082baec453383</string>
	<key>DATABASE_URL</key>
	<string>https://rider-57a9b-default-rtdb.firebaseio.com</string>
</dict>
</plist>